In [2]:
# Importamos Librerías

import re
from random import randint
from datetime import datetime

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import pylev
import seaborn as sbn

In [3]:
#Incorporamos parámetros para mostrar columnas cuando se imprime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

In [4]:
# Cargamos Base en Excel sobre SECUESTRO

secuestro_df=pd.read_csv('./data/SECUESTRO.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc1 in position 372: invalid start byte

In [42]:
# Mostramos Dimensiones de la base

secuestro_df.shape

(18642, 7)

In [43]:
secuestro_df.head()

,FECHA HECHO,COD_DEPTO,DEPARTAMENTO,COD_MUNI,MUNICIPIO,TIPO DELITO,CANTIDAD
0,01/01/1996 12:00:00 AM,5,ANTIOQUIA,"5,042",SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1
1,01/01/1996 12:00:00 AM,25,CUNDINAMARCA,"25,290",FUSAGASUGA,SECUESTRO EXTORSIVO,1
2,01/02/1996 12:00:00 AM,5,ANTIOQUIA,"5,038",ANGOSTURA,SECUESTRO EXTORSIVO,1
3,01/02/1996 12:00:00 AM,5,ANTIOQUIA,"5,088",BELLO,SECUESTRO EXTORSIVO,1
4,01/02/1996 12:00:00 AM,11,BOGOTÁ D.C.,"11,001","BOGOTA, D.C.",SECUESTRO EXTORSIVO,1

In [44]:
secuestro_df.dtypes

FECHA HECHO     object
COD_DEPTO        int64
DEPARTAMENTO    object
COD_MUNI        object
MUNICIPIO       object
TIPO DELITO     object
CANTIDAD         int64
dtype: object

In [45]:
# Como se observa en el resultado anterior, tenemos dos columnas de números enteros y el resto en tipo general de objeto.

In [46]:
#Quitamos hora de la fecha pues está constante y no da información adicional sobre el fenómeno de interés. 

secuestro_df["FECHA HECHO"]=secuestro_df["FECHA HECHO"].str.replace('12:00:00 AM','')

In [47]:
# Verificamos la aplicación del cambio

secuestro_df.head()

,FECHA HECHO,COD_DEPTO,DEPARTAMENTO,COD_MUNI,MUNICIPIO,TIPO DELITO,CANTIDAD
0,01/01/1996,5,ANTIOQUIA,"5,042",SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1
1,01/01/1996,25,CUNDINAMARCA,"25,290",FUSAGASUGA,SECUESTRO EXTORSIVO,1
2,01/02/1996,5,ANTIOQUIA,"5,038",ANGOSTURA,SECUESTRO EXTORSIVO,1
3,01/02/1996,5,ANTIOQUIA,"5,088",BELLO,SECUESTRO EXTORSIVO,1
4,01/02/1996,11,BOGOTÁ D.C.,"11,001","BOGOTA, D.C.",SECUESTRO EXTORSIVO,1

In [48]:
# importamos librería datetime para ajustar formatos relacionados con la columna "Fecha Hecho"

from datetime import datetime as dt

In [49]:
# Cambiamos de string a formato de fecha

secuestro_df["FECHA HECHO"] = pd.to_datetime(secuestro_df["FECHA HECHO"])

In [50]:
secuestro_df.head()

,FECHA HECHO,COD_DEPTO,DEPARTAMENTO,COD_MUNI,MUNICIPIO,TIPO DELITO,CANTIDAD
0,1996-01-01,5,ANTIOQUIA,"5,042",SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1
1,1996-01-01,25,CUNDINAMARCA,"25,290",FUSAGASUGA,SECUESTRO EXTORSIVO,1
2,1996-01-02,5,ANTIOQUIA,"5,038",ANGOSTURA,SECUESTRO EXTORSIVO,1
3,1996-01-02,5,ANTIOQUIA,"5,088",BELLO,SECUESTRO EXTORSIVO,1
4,1996-01-02,11,BOGOTÁ D.C.,"11,001","BOGOTA, D.C.",SECUESTRO EXTORSIVO,1

In [51]:
# Cambiamos formato de fecha a s/m/Y

secuestro_df["FECHA HECHO"] = secuestro_df["FECHA HECHO"].dt.strftime("%d/%m/%Y")

In [52]:
secuestro_df.head()

,FECHA HECHO,COD_DEPTO,DEPARTAMENTO,COD_MUNI,MUNICIPIO,TIPO DELITO,CANTIDAD
0,01/01/1996,5,ANTIOQUIA,"5,042",SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1
1,01/01/1996,25,CUNDINAMARCA,"25,290",FUSAGASUGA,SECUESTRO EXTORSIVO,1
2,02/01/1996,5,ANTIOQUIA,"5,038",ANGOSTURA,SECUESTRO EXTORSIVO,1
3,02/01/1996,5,ANTIOQUIA,"5,088",BELLO,SECUESTRO EXTORSIVO,1
4,02/01/1996,11,BOGOTÁ D.C.,"11,001","BOGOTA, D.C.",SECUESTRO EXTORSIVO,1

In [53]:
# Creamos función para validar el valor que está causando el error

def error_in_format(x):
    try:
        datetime.strptime(x, "%d/%m/%Y")
        return False
    except:
        return True
secuestro_df.loc[secuestro_df["FECHA HECHO"].apply(error_in_format)]

Empty DataFrame
Columns: [FECHA HECHO, COD_DEPTO, DEPARTAMENTO, COD_MUNI, MUNICIPIO, TIPO DELITO, CANTIDAD]
Index: []

In [54]:
#Con rel resultado anterior validamos que no hay ningún registro con el formato diferente al asignado

In [55]:
dateparse = lambda x: datetime.strptime(x, "%d/%m/%Y")

In [56]:
secuestro_df["FECHA HECHO"]=secuestro_df["FECHA HECHO"].apply(dateparse)

In [17]:
secuestro_df.dtypes

FECHA HECHO     datetime64[ns]
COD_DEPTO                int64
DEPARTAMENTO            object
COD_MUNI                object
MUNICIPIO               object
TIPO DELITO             object
CANTIDAD                 int64
dtype: object

In [ ]:
# Logramos verificar que la columna "FECHA HECHO" se encuentra en formato pertinente.

In [18]:
#Validamos nombre de departamento apra determinar si hay valores mal escritos. 

set(secuestro_df['DEPARTAMENTO'].values)

{'AMAZONAS',
 'ANTIOQUIA',
 'ARAUCA',
 'ATLÁNTICO',
 'BOGOTÁ D.C.',
 'BOLÍVAR',
 'BOYACÁ',
 'CALDAS',
 'CAQUETÁ',
 'CASANARE',
 'CAUCA',
 'CESAR',
 'CHOCÓ',
 'CUNDINAMARCA',
 'CÓRDOBA',
 'GUAINÍA',
 'GUAVIARE',
 'HUILA',
 'LA GUAJIRA',
 'MAGDALENA',
 'META',
 'NARIÑO',
 'NORTE DE SANTANDER',
 'PUTUMAYO',
 'QUINDÍO',
 'RISARALDA',
 'SAN ANDRÉS ISLAS',
 'SANTANDER',
 'SUCRE',
 'TOLIMA',
 'VALLE DEL CAUCA',
 'VAUPÉS',
 'VICHADA'}

In [ ]:
# El resultado nos permite concluir que no hay heterogeneidad en la identificación de los departamentos (nombre)

In [19]:
# Realizamos el ejercicio anterior para la columna "TIPO DELITO"

set(secuestro_df['TIPO DELITO'].values)

{'SECUESTRO EXTORSIVO', 'SECUESTRO SIMPLE'}

In [ ]:
# Podemos concluir que dicha columna tampoco cuenta con heterogeneidad en los nombre de tipo de delito.

In [57]:
from numpy import nan as NA

In [58]:
#Determinamos si base tiene datos nulos

secuestro_df.isnull().sum()

FECHA HECHO     0
COD_DEPTO       0
DEPARTAMENTO    0
COD_MUNI        0
MUNICIPIO       0
TIPO DELITO     0
CANTIDAD        0
dtype: int64

In [ ]:
# Según resultado anterior, no hay columnas con valores nulos.

In [22]:
# Determinamos base con datos de últimos cinco (5) años

Date1=secuestro_df["FECHA HECHO"] >= "13/08/2017"
Date2=secuestro_df["FECHA HECHO"] <= "13/08/2022"

secuestro_u5=secuestro_df.loc[Date1 & Date2]

In [23]:
print(secuestro_u5)

      FECHA HECHO  COD_DEPTO        DEPARTAMENTO COD_MUNI     MUNICIPIO  \
18052  2017-08-18         15              BOYACÁ   15,238       DUITAMA
18053  2017-08-19         27               CHOCÓ   27,787          TADO
18054  2017-08-20          5           ANTIOQUIA    5,138   CAÑASGORDAS
18055  2017-08-20         66           RISARALDA   66,572   PUEBLO RICO
18056  2017-08-23         54  NORTE DE SANTANDER   54,810          TIBU
...           ...        ...                 ...      ...           ...
18637  2022-05-10          5           ANTIOQUIA    5,631      SABANETA
18638  2022-05-15         19               CAUCA   19,256      EL TAMBO
18639  2022-05-15         52              NARIÑO   52,838     TUQUERRES
18640  2022-05-19          8           ATLÁNTICO    8,001  BARRANQUILLA
18641  2022-05-27         11         BOGOTÁ D.C.   11,001  BOGOTA, D.C.

               TIPO DELITO  CANTIDAD
18052     SECUESTRO SIMPLE         1
18053  SECUESTRO EXTORSIVO         1
18054  SECUESTRO EXTORSIVO         1
18055  SECUESTRO EXTORSIVO         1
18056  SECUESTRO EXTORSIVO         1
...                    ...       ...
18637  SECUESTRO EXTORSIVO         1
18638  SECUESTRO EXTORSIVO         1
18639  SECUESTRO EXTORSIVO         1
18640  SECUESTRO EXTORSIVO         1
18641  SECUESTRO EXTORSIVO         1

[590 rows x 7 columns]

In [24]:
#De base de últimos cinco (5) años, sacamos TOP 3 con mayor # casos

top = secuestro_df['CANTIDAD'].groupby(secuestro_df["DEPARTAMENTO"])

In [25]:
top_3=pd.Series(top.sum())
top_3d=top_3.sort_values(ascending=False)
top_3d.head(3)

DEPARTAMENTO
ANTIOQUIA          4558
CESAR              2093
VALLE DEL CAUCA    1861
Name: CANTIDAD, dtype: int64

In [ ]:
#El resultado anterior nos permite establecer los 3 departamentos con mayor número de casos.

In [59]:
secuestro_df.dtypes

FECHA HECHO     datetime64[ns]
COD_DEPTO                int64
DEPARTAMENTO            object
COD_MUNI                object
MUNICIPIO               object
TIPO DELITO             object
CANTIDAD                 int64
dtype: object

In [60]:
#Creamos nueva columna con mes de los hechos

secuestro_df['MES DE SECUESTRO']=secuestro_df["FECHA HECHO"].dt.month

In [61]:
#Verificamos que sean solo meses

set(secuestro_df['MES DE SECUESTRO'].values)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [62]:
# Agregamos número de secuestros por mes

mes= secuestro_df['CANTIDAD'].groupby(secuestro_df["MES DE SECUESTRO"])

In [63]:
# Odenamos serie de secuestros por mes de mayor a menor

mese=pd.Series(mes.sum())
meseor=mese.sort_values(ascending=False)
display(meseor)

MES DE SECUESTRO
5     2546
3     2521
8     2504
9     2427
4     2399
6     2218
7     2208
1     2194
2     2101
10    2084
11    2003
12    1850
Name: CANTIDAD, dtype: int64

In [64]:
# El resultado anterior nos permite concluir que los meses de más presencia de secuestros son, en su órden, mayo, marzo y agosto.

In [65]:
# Sobre columna Tipo de Delito, hacemos conteo de casos en los registros

delito=secuestro_df['CANTIDAD'].groupby(secuestro_df["TIPO DELITO"]).count()
display(delito)

TIPO DELITO
SECUESTRO EXTORSIVO    11816
SECUESTRO SIMPLE        6826
Name: CANTIDAD, dtype: int64

In [66]:
# Según lo anterior, casi por el doble, el secuestro con fines de extorsión predomina sobre el secuestro simple

In [67]:
# Eliminamos "," de la Columna COD_MUNI

secuestro_df["COD_MUNI"]=secuestro_df["COD_MUNI"].str.replace(',','')

In [68]:
# Renombramos columna COD_MUNI para hacer compatible con consolidación

secuestro_df.rename(columns={'COD_MUNI':'CODIGO DANE'},inplace=True)

In [69]:
#Verificamos nuevo DataFrame con la separación

secuestro_df.head()

,FECHA HECHO,COD_DEPTO,DEPARTAMENTO,CODIGO DANE,MUNICIPIO,TIPO DELITO,CANTIDAD,MES DE SECUESTRO
0,1996-01-01,5,ANTIOQUIA,5042,SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1,1
1,1996-01-01,25,CUNDINAMARCA,25290,FUSAGASUGA,SECUESTRO EXTORSIVO,1,1
2,1996-01-02,5,ANTIOQUIA,5038,ANGOSTURA,SECUESTRO EXTORSIVO,1,1
3,1996-01-02,5,ANTIOQUIA,5088,BELLO,SECUESTRO EXTORSIVO,1,1
4,1996-01-02,11,BOGOTÁ D.C.,11001,"BOGOTA, D.C.",SECUESTRO EXTORSIVO,1,1

In [70]:
# Importamos base del DANE
dane_df=pd.read_csv('C:/Users/steven.orozco/Downloads/Dane.csv')

In [71]:
# Mostramos en general la base
dane_df.head()

   CODIGO DANE DEPARTAMENTO                MUNICIPIO
0           99         OTRO  NO RESIDENTE EN EL PAIS
1         5001    ANTIOQUIA                 MEDELLIN
2         5002    ANTIOQUIA                ABEJORRAL
3         5004    ANTIOQUIA                 ABRIAQUI
4         5021    ANTIOQUIA               ALEJANDRIA

In [72]:
# Con las dos bases, realizmos una validación para hacer compatibles ambos archivos con códigos, municipios y departamentos

for z in range (0,len(secuestro_df)):
    for y in range (0,len(dane_df)):
        if secuestro_df['CODIGO DANE'][z]==dane_df['CODIGO DANE'][y]:
            secuestro_df['MUNICIPIO'][z]=dane_df['MUNICIPIO'][y]
            secuestro_df['DEPARTAMENTO'][z]=dane_df['DEPARTAMENTO'][y]

In [73]:
secuestro_df.head()

,FECHA HECHO,COD_DEPTO,DEPARTAMENTO,CODIGO DANE,MUNICIPIO,TIPO DELITO,CANTIDAD,MES DE SECUESTRO
0,1996-01-01,5,ANTIOQUIA,5042,SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1,1
1,1996-01-01,25,CUNDINAMARCA,25290,FUSAGASUGA,SECUESTRO EXTORSIVO,1,1
2,1996-01-02,5,ANTIOQUIA,5038,ANGOSTURA,SECUESTRO EXTORSIVO,1,1
3,1996-01-02,5,ANTIOQUIA,5088,BELLO,SECUESTRO EXTORSIVO,1,1
4,1996-01-02,11,BOGOTÁ D.C.,11001,"BOGOTA, D.C.",SECUESTRO EXTORSIVO,1,1

In [74]:
# Reemplazamos Bogotá por Cundinamarca para Hacer Compatible con Demás Bases

secuestro_df["DEPARTAMENTO"]=secuestro_df["DEPARTAMENTO"].str.replace('BOGOTÁ D.C.','CUNDINAMARCA')

In [75]:
secuestro_df.head()

,FECHA HECHO,COD_DEPTO,DEPARTAMENTO,CODIGO DANE,MUNICIPIO,TIPO DELITO,CANTIDAD,MES DE SECUESTRO
0,1996-01-01,5,ANTIOQUIA,5042,SANTAFE DE ANTIOQUIA,SECUESTRO SIMPLE,1,1
1,1996-01-01,25,CUNDINAMARCA,25290,FUSAGASUGA,SECUESTRO EXTORSIVO,1,1
2,1996-01-02,5,ANTIOQUIA,5038,ANGOSTURA,SECUESTRO EXTORSIVO,1,1
3,1996-01-02,5,ANTIOQUIA,5088,BELLO,SECUESTRO EXTORSIVO,1,1
4,1996-01-02,11,CUNDINAMARCA,11001,"BOGOTA, D.C.",SECUESTRO EXTORSIVO,1,1

In [76]:
secuestro_df.to_csv('secuestro_BK.csv')